{
  "version": 1,
  "format": "SignPDF-SLIP39",
  "fragment_id": 2,
  "kdf": {
    "algorithm": "Argon2id",
    "time_cost": 3,
    "memory_cost": 65536,
    "parallelism": 4,
    "key_length": 32,
    "salt": "IODWQK80D5xQK8pGiHnjEg=="
  },
  "cipher": {
    "algorithm": "AES-256-GCM",
    "nonce": "d9RTKbhVbNtmzFju"
  },
  "ciphertext": "+fTx8mOTfteVfhBD1glpcCy7FmsHKw0J8YSQhwu1HiIOsEGNYMATtNxTd/EjfWYGq4TpVJ9dKY8HlzSVM77hN33j6lJlf2Pkj93NUx9Vrhz0zkt+e3AOZlO7EdqC0UGccqHX+ES8XCn8fd0mkGN5fgzB+rWe1cCEDUWzPrPR00uj+8TXYUbJVIxEEJOkuPWDCUkdzdajmE7M3c4hfikNN8LnaCux6ZXIUUJ0c3NtNUtFHeYj+XhGDa0E7AAWOVl4o72yb9bOuE71oHlQCPNciJdMLjWsaNFizgTmDHXKbqOOZCCmf1cJp10WJBBjylaq2Lfb7++J1zv3"
}