{
  "version": 1,
  "format": "SignPDF-SLIP39",
  "fragment_id": 4,
  "kdf": {
    "algorithm": "Argon2id",
    "time_cost": 3,
    "memory_cost": 65536,
    "parallelism": 4,
    "key_length": 32,
    "salt": "Fuul6XYszm/VSpNe5aZEmA=="
  },
  "cipher": {
    "algorithm": "AES-256-GCM",
    "nonce": "N4YSUDqVLo2hBdu7"
  },
  "ciphertext": "eiYHEGHwghILja8zLTEks3ZfE99LlMLy7RiGqQJCHB2xM7LK89wNUZ3t/Llk5FGAoHppObIIzFimrm8UbE4wFocoM7r/pSSQpstExEAPQRtavH12AFK399TvdxLcsHKQ8ZUtCSGP54hw7jXXbSGSCyvXKn9+nns3DCMCv5Xj2wO/1vqlQvhbU14r5wzgFFeby1b9jnRc+2jNyrSGwRs9Nc2wTwML4DxN/y1yB/BjnOTpC4o6iw37gxO36DScnqsWf6LtHK7B2KA9GGxOYO3cgNP743x+7vLueppUqU+Zfs20FznMSIiuRhy5N0G6Oklz9AtdTYI0t7fYgr8fM95Vs6U="
}