{
  "version": 1,
  "format": "SignPDF-SLIP39",
  "fragment_id": 3,
  "kdf": {
    "algorithm": "Argon2id",
    "time_cost": 3,
    "memory_cost": 65536,
    "parallelism": 4,
    "key_length": 32,
    "salt": "g2rLG2NPnknFR3Ssqym1Ww=="
  },
  "cipher": {
    "algorithm": "AES-256-GCM",
    "nonce": "wcAeLGmncqxCzYAX"
  },
  "ciphertext": "MW8nCuzNB8BOM1IGyWQoS4GMq/aAa/ogRZCqvp3FcaDdkKNgxBqfhYSjsIOZRaCNnj8sRbKNMGaE+n6WmT7wVhwcRC1FBUVUnjOaQ2bDzatsmfLNvb1T30bUTWdNdwmQUOgI3Hs5eFxjoXU5tP2Qy8bJVb0YgeT9ThJKCP9epSgB2WjHv38PjJcUouEiMYpPfSb2IL0uHhjkpHmNddJzYd0V1qoQIR+77gPaSck6tZGRE32yPF01wgFLY9ntimguwt5OvucgG4rhD3u+EU5qzkZdb+fj55ZKfVp3MMn6LOLLpteCvgiogndmVBpyeOhGipWuPynUJ8rcU7Fz"
}