{
  "version": 1,
  "format": "SignPDF-SLIP39",
  "fragment_id": 4,
  "kdf": {
    "algorithm": "Argon2id",
    "time_cost": 3,
    "memory_cost": 65536,
    "parallelism": 4,
    "key_length": 32,
    "salt": "gJb2r0uhPCe+Wp/4lI5Hew=="
  },
  "cipher": {
    "algorithm": "AES-256-GCM",
    "nonce": "6eg8vT7sq2DbvqjE"
  },
  "ciphertext": "ZVXQB6Fi0HTjqJmOsG3TUuCvUHL6z63+xyv+uH5SWtLRmo6QfN558gdi8UTH8zZERRHLG3a+mf0oHiUJK+j8mnWno8TM6F6bDpgt54Zt8EWpeU//mcGyfd1gAQ3HYJ0MjFsY1zYN0pmwQsk91ZeNjY7zmCvn/KalIj+0BVaca9iAYtTQR2Yy2r0zKEIgDP2oOTy4H5OI3/ZSfKogmjCYQlRB5Y7YGopoJPDz07luUexALv90IX7CA/fDZdxSeAN/tx6CfgCV42TjlLALfaCeOI9E1vLzXGpJM6VeMjBfBRoMrJde7UJUqr+PXWcP6eKB0yUcaylJB9DqRNEqI3Aw"
}