{
  "version": 1,
  "format": "SignPDF-SLIP39",
  "fragment_id": 3,
  "kdf": {
    "algorithm": "Argon2id",
    "time_cost": 3,
    "memory_cost": 65536,
    "parallelism": 4,
    "key_length": 32,
    "salt": "/5BGxCc+tEfCgdEL8BxCEw=="
  },
  "cipher": {
    "algorithm": "AES-256-GCM",
    "nonce": "zyiRJPYWxhPgQy7J"
  },
  "ciphertext": "bcNSajdD3M2Zq3U/2s6H9vy5IFhXTvjgI43k+JVQST+z0gbdWubJ0pB3d7mcjsAcoLBZjpRMsrVx+ZCq9X+s4ANAV5RursUQRaiABmPg3op1nEST2jFeYKUG7k4WTO77EPFzIHDVIPLBopCPxYsmVqwc2cRq/5i99an6OSgMiLzXZFFW+wwjPODhgJrbKv+Zxfdjx84Ed4j9Mp8AWVCPtj+MT4aBdwlnsbRwxyFrI5mUR2B/I+7JUnc7XrQcDDGu06CegSsFnD2ChSd0bpzAY+VnQjsBTtu69hPo6LQnue+gsX0EZZBd7y+e7hxKkKi/3iW0VzhIHQ=="
}