{
  "version": 1,
  "format": "SignPDF-SLIP39",
  "fragment_id": 1,
  "kdf": {
    "algorithm": "Argon2id",
    "time_cost": 3,
    "memory_cost": 65536,
    "parallelism": 4,
    "key_length": 32,
    "salt": "/X5ZiX6h97AhWiu5xuahEA=="
  },
  "cipher": {
    "algorithm": "AES-256-GCM",
    "nonce": "bk+poy01V8V3dSas"
  },
  "ciphertext": "iEwO1+ZUV+QAmSpEfUjUjv2rejdQZfkf6vmsgAOTpF8G4l576ER7q2ErCLFCqVqUuxavanfKKdoCA6nvp0C/sjYVjwxbBSbPx+hkij4mPCozGfiDbIj9i3mvQX5IGLhWvyw/uzLFKGURpaV+K2wJvQUc5T0M/c2C8zGXFUw5QMcImYoo10stN70StQKWtlxS8vFUPdbrYWHyxgCigrmeJ/GGmxl0e1LbTodBekj7u5X+b7AeHBO/kyH0ceKzzqyMEL9RbAvjmrL7qeR2jjHdYjruzgzCpZKJ2zuBtOzly6UMvjgs1Odd16Hvv44ig0y55Tr+/PQLAOpiGw=="
}