{
  "version": 1,
  "format": "SignPDF-SLIP39",
  "fragment_id": 1,
  "kdf": {
    "algorithm": "Argon2id",
    "time_cost": 3,
    "memory_cost": 65536,
    "parallelism": 4,
    "key_length": 32,
    "salt": "Ch+sPt3w4+laFlsdmRkEOw=="
  },
  "cipher": {
    "algorithm": "AES-256-GCM",
    "nonce": "iArtZ5P5CpzAMygS"
  },
  "ciphertext": "zZnxnkQcRp8L+W/4NS8iWMTEtr3mtIv92C2jiYIaPVwlxdXzCNH4/1r4KTH65j21ZgIO7xKpiDZbEgZewFOxud41hYMRfubzWQ7PeRDrJ3xWlpvrFlHAcZK0sFcLiIR9hiSIETlBrFO4uMxnyovCUtBNm8g8GYfeCtT9QuiNfYJLFkr97B5CC+dNeBHEWc6nHil8Orj+W5bG1r2+za20roCw4MQpgx5Xncn2nN7tuHPmYmocYEvWHGvrdv3/FoHzzhD2z2fI1vLRnB9AlYPwHUYOaQn9HMWU+1neUiig7WLQPQ+Ddr34s6RKCLKqCLphVb2PBoPRKDOoznietoNVzgw="
}